*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


body{
font-family: 'Lato', sans-serif;
  color: #161616;  
}

/* === NAV === */
nav{
    display: flex;
    justify-content: space-between;
    padding: 32px 69px;
    height: 94px;
    
} 

nav img{
width: 100px;
}


/*===CAPA===*/
.imagem-principal3{
    width: 1440px;
    height: 375px;
    top: 95px;
    left: 0px;
}


/* ====== MAIN ====== */
#titulos{
    height: 95px;
    border-bottom: 0.2px solid #A5A1A1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 69px ;
}

/*==TITULOS==*/
.titulo-principal{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #161616;
}

.nome{
   font-family: lato;
   color: #161616;
}



/* === Produtos === */
#produtos{
   border: 1px solid blue;
   display: flex;
   flex-wrap: wrap;
   gap: 110px;
   padding: 47px 70px;   
}

/* Container dos produtos */
.produtos-container{
    height: 393px;
    width: 303px;

    border: 1px solid red;

    font-weight: 500;
    font-size: 22px;
}
 
.produto-principal-titulo{
    padding: 23px 0 11px 0;

} 
    

.priceproduct{ 
    font-weight: 700;
    font-size: 20px;
}

#pricecolor{
    color: #5ca720;
}

/*==============*/


footer{ 
    border: 1px solid yellow;
    display: flex;

    background: rgba(249, 249, 249, 1);
}

.contatos1{
    background: rgba(249, 249, 249, 1);

}

.contato{
    position: absolute;
    width: 72px;
    height:24px;
    left: 71px;
    top: 2077px;
    font-family: lato;
    color: #161616;
}
.servico{
    position: absolute;
    width: 152px;
    height:24px;
    left: 71px;
    top: 2111px;
    font-family: lato;
    color: #161616;
}
.politica{
    position: absolute;
    width: 199px;
    height:24px;
    left: 71px;
    top: 2145px;
    font-family: lato;
    color: #161616;
}
.cancelamento{
    position: absolute;
    width: 295px;
    height:24px;
    left: 71px;
    top: 2179px;
    font-family: lato;
    color: #161616;
}
.next{
    position: absolute;
    width: 98px;
    height:24px;
    left: 821px;
    top: 2092px;
    font-family: lato;
    color: #161616;
}
.email{
    position: absolute;
    width: 215px;
    height:24px;
    left: 834px;
    top: 2149px;
    font-family: lato;
    color: #F9F9F9;
}
.insta{
    position: absolute;
    width: 33.48px;
    height:33.48px;
    left: 71px;
    top: 2296.01px;
    font-family: lato;
    color: #a8a4a4;
}
.face{
    position: absolute;
    width: 33.5px;
    height:33.5px;
    left: 124.58px;
    top: 2296px;
    font-family: lato;
    color: #a8a4a4;
}
.cartoes{
    background: rgba(249, 249, 249, 1);

    position: absolute;
    width: 189px;
    height:43.71px;
    left: 1181px;
    top: 2296px;
    font-family: lato;
    color: #a8a4a4;
}


.botao{
    background-color:#5CA720;
     font-style: normal;
     font-family: lato;
    border-radius: 0px 0px 0px 0px;
    padding-bottom: 0.5rem; 
    color: #F9F9F9;
    border-bottom: none;
 }

 .botao2{
     display: none;
 }

.emaill{
box-sizing: border-box;
border-radius: 0px 0px 0px 0px;
border: none;
color: #A8A4A4;
}

 .caixa{
    background: rgba(249, 249, 249, 1);

     position: absolute;
     width: 549px;
     height: 96px;
     left: 821px;
     top: 2092px;
 }
  

   
   


 

  

  
 
 
  
  
  
 
    