*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


body{
font-family: 'Lato', sans-serif;
  color: #161616;  
}

/* === NAV === */
nav{
    display: flex;
    justify-content: space-between;
    padding: 32px 69px;
    height: 94px;
    
} 

nav img{
width: 100px;
}


/*===CAPA===*/
.imagem-principal3{
    width: 1440px;
    height: 375px;
    top: 95px;
    left: 0px;
}


/* ====== MAIN ====== */
#titulos{
    height: 95px;
    border-bottom: 0.2px solid #A5A1A1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 69px ;
}

/*==TITULOS==*/
.titulo-principal{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #161616;
}

.nome{
   font-family: lato;
   color: #161616;
}



/* === Produtos === */
#produtos{
   border: 1px solid blue;
   display: flex;
   flex-wrap: wrap;
   gap: 110px;
   padding: 47px 70px;   
}

/* Container dos produtos */
.produtos-container{
    height: 393px;
    width: 303px;

    border: 1px solid red;

    font-weight: 500;
    font-size: 22px;
}
 
.produto-principal-titulo{
    padding: 23px 0 11px 0;

} 
    

.priceproduct{ 
    font-weight: 700;
    font-size: 20px;
}

#pricecolor{
    color: #5ca720;
}

/*==============*/


footer{ 
    border: 1px solid yellow;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 182px 81px;
    gap: 100px;
    

}


  

   
   


 

  

  
 
 
  
  
  
 
    